language: python
cache:
  directories:
   - "$HOME/miniconda"
matrix:
  include:
    - os: linux
      python: 2.7
env:
  global:
    - MINICONDA_BUCKET="repo.continuum.io"
    - MINICONDA_VERSION="4.2.12"
    - MINICONDA_FOLDER="$HOME/miniconda"
    - MINICONDA_ENV_NAME="10c"
    - PATH="$MINICONDA_FOLDER/bin:$PATH"
before_install:
  - .travis/before_install.sh
install:
  - .travis/install.sh
before_script:
  - .travis/before_script.sh
script:
  - .travis/script.sh
after_success:
  - .travis/after_success.sh
after_script:
  - .travis/after_script.sh
